/* universal slector*/
*{
	font-family: 'Noto Serif', serif;
padding: 0;
margin:0;
outline: none;
}

h1 {
	text-align:center;
	font-size: 36px;
	font-weight:700;
	font-style: italic;
}
label{
	font-size: 22px;
	margin: 15px 0;
}
input {
margin: 20px 0;
}
#userdata {
	padding: 10px;
}


#planetName{
	color: orangered;
	font-weight: 800;
	text-transform: uppercase;
}
#info{
	color:black;
	font-size: 20px;
}
#photo {
	height:300px;
	width: 500px;
	border-radius: 150px;
}
/*.results {
	background-image: url("..//img/background.jpg")
}*/
